<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hennro.hes.module.cbs.core.mapper.HHouseChangeMapper">

    <resultMap type="com.hennro.hes.module.cbs.core.entity.HCbsBillHouseChange" id="HouseChangeResultMap">
        <id column="FId" property="fId"/>
        <result column="FCompanyBelong" property="fCompanyBelong"/>
        <result column="FBillNumber" property="fBillNumber"/>
        <result column="FDate" property="fDate"/>
        <result column="FRemark" property="fRemark"/>
        <result column="FOperator" property="fOperator"/>
        <result column="FCheck" property="fCheck"/>
        <collection property="entries" ofType="com.hennro.hes.module.cbs.core.entity.HCbsBillHouseChangeEntry">
            <id column="FEId" property="fId"/>
            <result column="FListId" property="fListId"/>
            <result column="FType" property="fType"/>
            <result column="FOriginalHouseId" property="fOriginalHouseId"/>
            <result column="originalHouseNumber" property="originalHouseNumber"/>
            <result column="originalHouseShortNumber" property="originalHouseShortNumber"/>
            <result column="originalHouseFullNumber" property="originalHouseFullNumber"/>
            <result column="originalHouseName" property="originalHouseName"/>
            <result column="originalHouseFullName" property="originalHouseFullName"/>
            <result column="FNewNumber" property="fNewNumber"/>
            <result column="FNewName" property="fNewName"/>
            <result column="FAcreage" property="fAcreage"/>
        </collection>
    </resultMap>

    <select id="getByHouseChangeId" resultMap="HouseChangeResultMap">
		select t1.*,t2.FId FEId,t2.FListId,t2.FType,t2.FOriginalHouseId,t2.FNewName,t2.FNewNumber,t2.FAcreage,
        t3.FNumber as originalHouseNumber,t3.FName as originalHouseName,
        t3.FFullNumber as originalHouseFullNumber,t3.FShortNumber as originalHouseShortNumber,t3.FFullName as originalHouseFullName
        from H_CBS_Bill_HouseChange t1,H_CBS_Bill_HouseChangeEntry t2,H_CBS_Base_House t3
        where t1.FId=t2.FListId
        and t2.FOriginalHouseId = t3.FItemId
		and t1.FId = #{id}
	</select>

    <select id="getHouseChangeList" parameterType="com.hennro.hes.module.cbs.common.request.HouseChangeSearchRequest" resultMap="HouseChangeResultMap">
        select t1.*,t2.FId FEId,t2.FListId,t2.FType,t2.FOriginalHouseId,t2.FNewName,t2.FNewNumber,t2.FAcreage,
        t3.FNumber as originalHouseNumber,t3.FName as originalHouseName,
        t3.FFullNumber as originalHouseFullNumber,t3.FShortNumber as originalHouseShortNumber,t3.FFullName as originalHouseFullName
        from H_CBS_Bill_HouseChange t1,H_CBS_Bill_HouseChangeEntry t2,H_CBS_Base_House t3
        where t1.FId=t2.FListId
        and t2.FOriginalHouseId = t3.FItemId
        <if test='department != null and "" != department'>
            and t1.FCompanyBelong=#{department}
        </if>
        <if test='startTime != null'>
            and t1.FDate &gt;= #{startTime}
        </if>
        <if test='endTime != null'>
            and t1.FDate &lt;= #{endTime}
        </if>
        <if test='key != null and "" != key'>
            and t2.FAcreage like '%${key}%' or t3.FFullName like '%${key}%' or t4.FFullName like
            '%${key}%' or t1.FOperator like '%${key}%' or t1.FCheck like '%${key}%'
        </if>
    </select>

    <insert id="insert">
		INSERT INTO H_CBS_Bill_HouseChange(
			FCompanyBelong,
			FBillNumber,
			FDate,
			FRemark,
			FOperator,
			FCheck
		) VALUES (
			#{fCompanyBelong},
			#{fBillNumber},
			#{fDate},
			#{fRemark},
			#{fOperator},
			#{fCheck}
		)
	</insert>

    <insert id="insertEntry">
        insert into H_CBS_Bill_HouseChangeEntry
        (
        FListId,
        FType,
        FOriginalHouseId,
        FNewNumber,
        FNewName,
        FAcreage
        )
        values
        <foreach collection="entries" item="item" index= "index" separator =",">
            (
            #{fListId},
            #{item.fType},
            #{item.fOriginalHouseId},
            #{item.fNewNumber},
            #{item.fNewName},
            #{item.fAcreage}
            )
        </foreach>
    </insert>

    <update id="update">
		UPDATE H_CBS_Bill_HouseChange SET
			FCompanyBelong = #{fCompanyBelong},
			FBillNumber = #{fBillNumber},
			FDate = #{fDate},
			FRemark = #{fRemark},
			FOperator = #{fOperator},
			FCheck = #{fCheck}
		WHERE FId = #{id}
	</update>

    <update id="updateEntry">
        <foreach collection="entries" item="item" index="index" open="" close="" separator=";">
            update H_CBS_Bill_HouseChangeEntry SET
            FListId = #{item.fListId},
            FType = #{item.fType},
            FOriginalHouseId = #{item.fOriginalHouseId},
            FNewNumber = #{item.fNewNumber},
            FNewName = #{item.fNewName},
            FAcreage = #{item.fAcreage}
            where FId = ${item.id}
        </foreach>
    </update>

    <delete id="delete">
		DELETE FROM H_CBS_Bill_HouseChange WHERE FId = #{id}
	</delete>
    <delete id="deleteEntry">
        <foreach collection="entries" item="item" index="index" open="" close="" separator=";">
            DELETE FROM H_CBS_Bill_HouseChangeEntry WHERE FId = #{item.id}
        </foreach>
    </delete>

    <delete id="deleteEntryByListId">
		DELETE FROM H_CBS_Bill_HouseChangeEntry WHERE FListId = #{id}
	</delete>

</mapper>