<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hennro.hes.module.scm.mapper.OrderMapper">

    <select id="findAll" resultType="com.hennro.hes.module.scm.entity.Order">
        SELECT o.[FID] as id
		,o.[FBillNo] as billNo
		,o.[FDate] as date
		,s.[FName] as supplyName
		,c.[FName] as currencyName
		,o.[FTaxRate] as taxRate
		,o.[FNote] as note
		,o.[FBiller] as biller
		,o.[FBillDate] as billDate
		,o.[FChecker] as checker
		,o.[FCheckDate] as checkDate
		,case
		when isnull(o.FReadFlag,0)='0' then '未读'
		when isnull(o.FReadFlag,0)='1' then '已读未确认'
		when isnull(o.FReadFlag,0)='2' then '已确认'
		when isnull(o.FReadFlag,0)='3' then '已完成'
		end as readFlag

		FROM [dbo].[H_POOrder] o
		inner join t_Supplier s on o.FSupplyID=s.FItemID
		inner join t_Currency c on o.FCurrencyID=c.FCurrencyID
        where s.[FName]= #{loginName}
    </select>
</mapper>