<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header :: header">
</head>
<body>
<div class="main-layout" id='main-layout'>
    <!--侧边栏-->
    <div class="main-layout-side">
        <div class="m-logo">
            <div class="logo-text">
                HES 企业综合管理平台
            </div>
        </div>
        <ul  class="layui-nav layui-nav-tree" lay-filter="leftNav">
            <li th:each="menu,menuStat:${leftMenus}" th:class="layui-nav-item">
                <a href="javascript:;"><i class="iconfont">&#xe608;</i><span  th:text="${menu.name}"></span><span class="layui-nav-more"></span></a>
                <dl th:if="${#lists.size(menu.children)} gt '0'" class="layui-nav-child">
                    <dd th:each="subMenu,subMenuStat:${menu.children}" class="layui-nav-item">
                        <a href="javascript:;" th:if="${subMenu.isShow} eq '1'"><span th:text="${subMenu.name}"></span><span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd th:each="subMenu2,subMenu2Stat:${subMenu.children}" data-name="list">
                                <a href="javascript:;" th:if="${subMenu2.isShow} eq '1'" th:attr="data-text=${subMenu2.name},data-id=${subMenu2.name},data-url=${subMenu2.href}"><span class="l-line"></span><span  th:text="${subMenu2.name}"></span></a>
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <!--右侧内容-->
    <div class="main-layout-container">
        <!--头部-->
        <div class="main-layout-header">
            <div class="menu-btn" id="hideBtn">
                <a href="javascript:;">
                    <span class="iconfont">&#xe60e;</span>
                </a>
            </div>
            <div th:each="topMenu,menuStat:${topMenus}" th:text="${topMenu.name}" class="nav-btn-fix"
                 th:onclick="'javascript:changeTo(\''+${topMenu.name}+'\')'" th:style="${topMenu.name == type} ? 'color: #00b5f9'">
            </div>
            <ul class="layui-nav" lay-filter="rightNav">
                <li class="layui-nav-item header-tool-fix">
                    <a href="javascript:;" data-url="admin-info.html" data-id='5' data-text="个人信息" class="header-tool-fix" th:text="${user.fName}">个人信息</a>
                </li>
                <li class="layui-nav-item"><a href="javascript:;" class="header-tool-fix">退出</a></li>
            </ul>
        </div>
        <!--主体内容-->
        <div class="main-layout-body">
            <!--tab 切换-->
            <div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
                <ul class="layui-tab-title" id="tab-ul">
                    <li class="layui-this welcome">后台主页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show" style="background: #f5f5f5;">
                        <!--1-->
                        <iframe src="" width="100%" height="100%" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
                        <!--1end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--遮罩-->
    <div class="main-mask">

    </div>
</div>
<div th:replace="/footer :: footer"></div>
<script>
    function changeTo(type){
        window.location.href="/index?type="+type;
    }
</script>
</body>
</html>
