<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header :: header">
</head>
<body>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="dateRange"  name="dateRange" placeholder="~">
            </div>
            <label class="layui-form-label">关键词：</label>
            <div class="layui-inline">
                <input class="layui-input" name="searchKey" id="searchKey" >
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>
<table class="layui-hide" id="orderGrid" lay-filter="orderGrid"></table>

<div th:replace="/footer :: footer"></div>
<script type="text/html" id="orderOptBar" class="layui-hide">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">查看/确认订单</a>
</script>
<script>
    layui.use(['table','laydate','layer'], function(){
        var table = layui.table;
        var laydate = layui.laydate;
        var layer = layui.layer;
        //日期范围
        laydate.render({
            elem: '#dateRange'
            , range: '~'
            ,format:'yyyy-MM-dd'
        });


        table.render({
            elem: '#orderGrid'
            ,url:'/scm/order/orderGrid'
            ,cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [
                [
                     {fixed:true,toolbar: '#orderOptBar',title:"操作",width:120}
                    //,{field:'id',sort: true, title:'ID'}
                    ,{field:'billNo',title: '订单号'}
                    ,{field:'currencyName',title: '币种'}
                    ,{field:'taxRate',title: '税率'}
                    ,{field:'biller', title: '制单人'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    ,{field:'billDate', title: '制单日期',
                        templet: function(tpl){
                            return ''+tpl.billDate.substr(0,10)+''
                        }
                    }
                    ,{field:'checker', title: '审核人'}
                    ,{field:'checkDate', title: '审核日期',
                        templet:function(tpl){
                            return ''+tpl.checkDate.substr(0,10)+''
                        }
                    }
                    ,{field:'readFlag', title: '订单状态'}
                ]
            ]
            ,page:{
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
            }
        });
        table.on('tool(orderGrid)', function(obj){

            var data = obj.data;
           if(obj.event === 'edit'){
               layer.open({
                   title: '确认订单'
                   ,type:2
                   ,content: '/scm/order/details?id='+data.id
                   ,area:['100%','100%']
                   ,offset:'lt'
               });
           }
        });
       var $ = layui.$, active = {
            reload: function(){
                var time = $("#dateRange").val();
                var startDate = $.trim(time.split("~")[0]);
                var endDate = $.trim(time.split("~")[1]);
                var searchKey=$('#searchKey');
                //执行重载
                table.reload('orderGrid', {
                    page: {
                        curr: 1 ,//重新从第 1 页开始
                    }
                    ,where: {
                        startDate: startDate,
                        endDate:endDate,
                        searchKey:searchKey.val()
                    }
                });
            }
        };
        $('.layui-form-item .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>